.page-section {
	padding: 4.5rem 0;
	overflow: hidden;


	&__contact-page {

		padding: 4.5rem 0;

		@mixin atMedium {
			padding: 5.2rem 0;
		}
	}

	&--testimonials {
		border-bottom: 10px solid $textColor;
		background-color: rgba(94, 94, 94, .6);
		position: relative;
		height: auto;
		padding-bottom: 0px;
	}
}

