.page-section {
	padding: 4.5rem 0;
	overflow: hidden;


	&__contact-page {

		padding: 4.5rem 0;

		@mixin atMedium {
			padding: 5.2rem 0;
		}
	}

	&--testimonials {
		border-bottom: 10px solid $textColor;
		background-image: url("../../assets/images/testimonial 1200.jpg");
		background-repeat: no-repeat;
		background-clip: border-box;
		background-size: cover;
		position: relative;
		height: auto;
		padding-bottom: 0px;
	}
}

