.primary-nav {

	ul {
		margin: 0;
		padding: 0;
		@mixin clearfix;
	}

	li {
		list-style: none;
		display: inline-block;
		padding-right: 18px;

		@mixin atMedium {
			float: left;
			display: block;
			padding-right: 25px;
		}

	}

	li:last-child {
		padding-right: 0;

		@mixin atMedium {
			padding-right: 20px;
		}
	}

	&--pull-right {


		@mixin atMedium {
			float: right;
		}
	}
	
	a {
		color: white;
		text-decoration: none;
		font-weight: 400;
		font-size: 1.5rem;
		max-width: 200px;
		margin-top: 8px;
		display: block;
		padding: 5px 12px;
		background-color: rgba(94, 94, 94, .4);
		border-radius: 5px;

		@mixin atMedium {
			font-size: 1.4rem;
			padding:  0;
			background-color: transparent;

			&.is-current-link {
				color: #fabb69;
			}
		}
	}
}