.row {

	@mixin clearfix;


	&__medium-3 {


		@mixin atMedium{
			padding-top: 60px;
			padding-bottom: 20px;
			padding-left: 18px;
			padding-right: 18px;
			float: left;
			width: 33%;

		}

	}

	&__medium-6-image {

		@mixin atMedium{
		padding-top: 130px;
		padding-bottom: 20px;
		padding-left: 18px;
	}
	}


	@mixin atMedium {

	&--gutters > div {
		padding-right: 15px;
	}

	&__medium-6-image {

		float: left;
		width: 50%;

	}

	&__medium-6-text {
		float: left;
		width: 50%;
	}

	}
}