.site-header {

	padding: 10px 0;
	position: absolute;
	width: 100%;
	z-index: 2;
	background-color: rgba(252, 252, 251, .3);


	&__logo {
		position: absolute;
		top: 0;
		background-color: #97A5B4;
	

		@mixin atMedium {
			position: absolute;
			top: 0;
			background-color: #97A5B4;
			padding: 25px 36px;


		}

	}

	&__text {
		font-weight: 300;
		font-size: 2.1rem;
		color: $textColor;
		text-shadow: 1px 1px 0 rgba(255, 255, 255, .5);

		@mixin atMedium {
			font-weight: 400;
			font-size: 3.2rem;
			color: $textColor;
			text-shadow: 3px 3px 0 rgba(255, 255, 255, .5);

		}
	}
}